
.container {
  width: 90%;
  height: 60%;
  line-height: 3rem;
  margin: 4%;
  padding: 2%;
  border: 2px solid grey;
}

.nameBox {
  margin-left: 1rem;
  height: 2rem;
  width: 14rem;
  border-radius: 4px;
  text-indent: 1rem;
  font-weight: bold;
  font-size: 18px;
  border-style: groove;
}
.buttons {
  vertical-align: top;
  padding: 5px;
  margin-left: 10rem;
  margin-right: 3rem;
  width: auto;
  font-size: 16px;
}

.displayGreeting {
  padding-left: 10%;
  font-size: 3rem;
}
.alertDisplay {
  color: #11990a;
}
.languages {
  margin-left: 160px;
}

.counter {
  float: right;
}
.count {
  padding-left: 4.5rem;
  font-size: 34px;
}
