
@charset "UTF-8";

* {
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Helvetica Neue',
}

header {
  text-align: center;
  padding-top: 1rem;
  font-style: oblique;
}

.container {
  max-width: 920px;
  margin: 0 auto;
  padding: 1rem 2rem;
  background-color: #b17261;

}

.counter{
  text-align: right;
  width: 100%;
}

.row {
  margin-top: 1.5rem;
  width: 100%;
  font-size: 120%;
  border: 1px #F0F0F1 solid;
  padding: 2rem;
}
.row label {
  width: 20%;
  text-align: center;
}
.row input {
  width: 100%;
  max-width: 500px;
}
.row input, .row label{
  display: inline-block;
  padding: 0.5rem;
}

.container::after,
.row::before, .row::after {
  content: "";
  display: table;
  clear: both;
}

.btnGreeting {
  margin-top: 2rem;
  padding: 1.5rem;
  width: 50%;
  max-width: 190px;
}

.display-section div {
  display: inline-block;
  width:40%;

}
